<html ng-app="demoApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="demo.js"></script>
<script src="../eat.js"></script>
<script src="../core/core.js"></script>
<script src="../components/components.js"></script>
<script src="../components/group/group.js"></script>
<script src="../components/group/fast.js"></script>
<script src="../components/memorableDate/memorableDate.js"></script>
<link rel="stylesheet" href="../style/style.css">
<body>

<div ng-controller="appController as vm">
    <h2>Register</h2>
    <p>{{vm.message}}</p>
    
    <form ng-submit="vm.submit()">
        <eat-group>
            <label>Name</label>
            <input type='text' required ng-model="vm.user.name"/>
            <eat-help>Your fullname</eat-help>
        </eat-group>
        <br/>
        
        <eat-group-fast 
            input='email' 
            ng-model="vm.user.email" 
            label='Your email' 
            help='Optional, we are not spamming, promise!'>
        </eat-group-fast>
        
        <br/>
        <eat-group>
            <label>Your telephone</label>
            <input type="tel" required ng-model="vm.user.mobile"/>
            <eat-help>For example: 07456639814</eat-help>
        </eat-group>
        
        <br/>
        <eat-group-fast 
            input='eat-memorable-date'
            ng-model="vm.user.birthday" 
            label='Your birthday' 
            help='For example: 28 2 1976'>
        </eat-group-fast>
         <br/> <br/> <br/>
    <button type="submit">Submit</button>
    </form>
    
    <div class="debug">
        object:{{vm.user}}
    </div>
</div>


</body>
</html>